
{% load static %}
{% block content %}
<html lang="en">
  <head>
  	<title>Login </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<!--<link rel="stylesheet" href="{% static 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %}">!-->

	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Change Password?</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap py-5">
		      	<!--<div class="img d-flex align-items-center justify-content-center" style="background-image: url('{% static "assets/img//icon.jpg" %}')"></div>!-->
<!--		      	<h3 class="text-center mb-0">Welcome</h3>-->
		      	<p class="text-center"></p>
						<form onsubmit='resetValidate' action="{% url 'changepassword' %}" class="login-form"  method="post" id="" name="logform">
							{% include 'Message.html' %}
							{% csrf_token %}
							<div class="form-group">
		      			<div class="icon d-flex align-items-center justify-content-center"></div>
								<input type="password" class="form-control" id="current_password" name="current_password"
								placeholder="Current Password" onkeyup='npasswordValidation(this)' required/>
							<span class="error-msg" id="crnt-passwd"> </span><br>
		      		</div>
							<div class="form-group">
		      			<div class="icon d-flex align-items-center justify-content-center"></div>
								<input type="password" class="form-control" id="new_password" name="new_password"
								placeholder="New Password" onkeyup='passwordValidation(this)' required/>
							<span class="error-msg" id="new-passwd"> </span><br>
		      		</div>
							<div class="form-group">
		      			<div class="icon d-flex align-items-center justify-content-center"></div>
		      			<input type="password" class="form-control" id="confirm_password" name="confirm_password"
								placeholder="Confirm Password" onkeyup='cpasswordValidation(this)' required/>
							<span class="error-msg" id="confirm_passwd"> </span><br>
		      		</div>

				<div class="form-group">
	            	<button type="submit" class="btn form-control btn-primary rounded submit px-3" id="logform">Change Password</button>
	            </div>
							<div class="w-100 text-md-right">
									<a href="http://127.0.0.1:8000/librarian/">Back</a>
								</div>
	          </form>

	        </div>
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript">
        function resetValidate() {

            var val = document.getElementById('current_password').value;
            if(val=="")
            {
                document.getElementById('crnt-passwd').innerHTML="**Password can't be null!!";
                return false;
            }
            else{
                document.getElementById('crnt-passwd').value = "";
            }

            var val = document.getElementById('new_password').value;
            if(val=="")
            {
                document.getElementById('new-passwd').innerHTML="**Password can't be null!!";
                return false;
            }
            else{
                document.getElementById('new-passwd').value = "";
            }
            if (!val.match(/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}/))
            {
                document.getElementById('new-passwd').innerHTML="**Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters'";
                return false;
            }
            else{
                document.getElementById('new-passwd').value = "";
            }

            var val = document.getElementById('confirm_passwords').value;
            if(val=="")
                {
                    document.getElementById('confirm-passwd').innerHTML="**Password can't be null!!";
                    return false;
                }
                else{
                document.getElementById('confirm-passwd').value = "";
            }

            if(val != document.getElementById('new_password').value){
            document.getElementById('confirm-passwd').innerHTML="**passwords should be matching";
            return false;
            }
            else{
            document.getElementById('confirm-passwd').innerHTML="";
            }
    }


    function npasswordValidation(inputTxt){

    var textField = document.getElementById("crnt-passwd");

    if(inputTxt.value != '' ){
        textField.textContent = '';
        textField.style.color = "green";
    }else{
        textField.textContent = '**Password cannot be null!!';
        textField.style.color = "red";
    }
}



        function passwordValidation(inputTxt){
+
        var regx = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}/;
        var textField = document.getElementById("new-passwd");

        if(inputTxt.value != '' ){
                if(inputTxt.value.match(regx)){
                    textField.textContent = '';
                    textField.style.color = "green";

                }else{
                    textField.textContent = 'Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters';
                    textField.style.color = "red";
                }
        }else{
            textField.textContent = '**Password cannot be null!!';
            textField.style.color = "red";
        }
    }

    function cpasswordValidation(inputTxt){

    var regx =  document.getElementById("confirm_password").value;
    var regy =  document.getElementById("new_password").value;
    var textField = document.getElementById("confirm_passwd");

    if(inputTxt.value != '' ){
            if(regx == regy){
                textField.textContent = '';
                textField.style.color = "green";

            }else{
                textField.textContent = '**password should be matching';
                textField.style.color = "red";
            }
    }else{
        textField.textContent = '**Password cannot be null!!';
        textField.style.color = "red";
    }
}


    </script>




  <script src="{% static 'assets/js/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/popper.js' %}"></script>
  <script src="j{% static 'assets/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/main1.js' %}"></script>

	</body>
</html>
{% endblock %}

