{% extends "base4.html" %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div class="card bg-light ms-4 me-4 mb-4">
      <div class="card-header">
          <i class="fa fa-book"></i><font color="green">View Issue Book</font>
      </div>
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" action="{% url 'issuedbookuser' %}">

    </form>
      <div class="card-body">
        <p class="card-text">
          <div class="table-responsive">

            <table class="table table-hover">
              <thead>
                <tr>

                    <th scope="col"><font color="red">Book Title</font></th>
                    <th scope="col"><font color="red">Issued Date</font></th>

                       </tr>
              </thead>
                <tbody>
                 {% for i in result %}
                <tr>


                    <td scope="col"><strong>{{ i.reqid.bookid.bk_title }}</strong></td>
                    <td scope="col"><strong>{{ i.date_of_issue }}</strong></td>
                    </tr>
                 {% endfor %}
                </tbody>
            </table>

      </div>
      </div>
 </div>
</body>
</html>
{% endblock %}