
{% extends 'base5.html' %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div class="card bg-light ms-4 me-4 mb-4">
      <div class="card-header">
          <i class="fa fa-book"></i><font color="green">Issue Book Request</font>
      </div>
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" action="{% url 'viewsrequest' %}">

    </form>
      <div class="card-body">
        <p class="card-text">
          <div class="table-responsive">

            <table class="table table-hover">
              <thead>
                <tr>
                    <th scope="col" ><font color="red">Email</font></th>
                    <th scope="col"><font color="red">FirstName</font></th>
                    <th scope="col"><font color="red">Last Name</font></th>
                    <th scope="col"><font color="red">Book Title</font></th>
                    <th scope="col"><font color="red">Author</font></th>
                    <th scope="col"><font color="red">Category</font></th>
                    <th scope="col"><font color="red">Requested Date</font></th>
                     <th scope="col"><font color="red">Action</font></th>


                       </tr>
              </thead>
                <tbody>
                 {% for i in result %}
                <tr>

                    <td scope="col"><strong>{{ i.userid.email }}</strong></td>
                    <td scope="col"><strong>{{ i.userid.fname }}</strong></td>
                    <td scope="col"><strong>{{ i.userid.lname }}</strong></td>
                    <td scope="col"><strong>{{ i.bookid.bk_title }}</strong></td>
                     <td scope="col"><strong>{{ i.bookid.bk_author}}</strong></td>
                    <td scope="col"><strong>{{ i.bookid.bk_cat.cat_name }}</strong></td>
                    <td scope="col"><strong>{{ i.requestdate }}</strong></td>
                    {% if i.requestedstatus %}
                    <td ><a href="{% url 'issuebooklib' %}" class="btn btn-sm btn-success">Approved</a>
                    {% else %}
                    <td ><a href="{% url 'approved' i.id %}" class="btn btn-sm btn-primary">Approve</a>
                    {% endif %}

                </tr>
                 {% endfor %}
                </tbody>
            </table>

      </div>
      </div>
 </div>
</body>
</html>
{% endblock %}